{% extends "layout.html" %} 

{% block title %}
  Hello
{% endblock %}

{% block content %}
  <h1>Chai Aur Code HomePage - Chai Detail Page</h1>
  <div class="grid grid-cols-4 gap-4">
    {% for chai in chais  %}
      <div class="bg-gray-500 px-2 py-2 rounded-xl">
        <img class="rounded-xl w-80 h-80" src="{{chai.image.url}}" alt="">
        <h3 class="text-2xl font-bold">{{chai.name}}</h3>
        <a href="{% url 'chai_detail' chai.id %}">
          <button class="bg-orange-500 w-full py-1 rounded-lg font-bold text-xl" type="button">
            {{chai.type}} - {{chai.id}}
          </button>
        </a>
        <p class="text-2xl font-bold">{{chai.price}} Rs</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}